{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "transform-export-default-name",
    "@babel/transform-flow-strip-types",
    "@babel/proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ]
}
